body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    min-width: 300px;
  }

  .logo{
    text-align: center;
  }
  .logo img{
    border-radius: 10px;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  #nav{
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    width: 60%;
    margin: 0;
}
nav{
    background-color: rgb(54, 54, 54);
}
nav ul li
    {
        display: inline-block;    
        padding: 3%;
		padding-bottom:2%;
        padding-top: 2%;
    }
nav ul li a{
        text-align: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .underline { 
        display: inline-block; 
        position: relative; 
    } 
    .underline::after { 
        content: ''; 
        position: absolute; 
        width: 100%; 
        transform: scaleX(0); 
        height: 3px; 
        bottom: 0; 
        left: 0; 
        background-color: #45a838; 
        transform-origin: bottom right; 
        transition: transform 0.25s ease-out; 
    } 
    .underline:hover::after { 
        transform: scaleX(1); 
        transform-origin: bottom left; 
    }

#nos-services:hover + .accordion-content,
#nos-services:focus + .accordion-content,
.accordion-content:hover,
.accordion-content:focus {
    display: block;
}

    .accordion-content{
        padding-left: 50px;
        padding-right: 50px;
        background-color: #ffffff;
        border: 1px solid #000000;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        color: rgb(0, 0, 0);
        position: absolute;
        z-index: 2;
        overflow: hidden;
        display: none;
      }

      .accordion-content ul li{
        display:grid; 
        font-size: 16px;
        padding-bottom:7px;
        padding-top: 7px;
      }

      .accordion-content ul li a{
        text-align: center;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .text1 h3{
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
        margin-top: 50px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 20px;
    }

    .text2{
        font-size: 25px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        text-decoration: underline #45a838 5px;
        margin-bottom: 100px;
    }
    .icons {
      text-align: center;
    }
        
      .material-symbols-rounded{
        padding: 20px;
        background-color: #1a4b13;
        color: rgb(255, 255, 255);
        border-radius: 100px;
      }
      .material-icons-round{ 
        padding: 20px;
        background-color: #1a4b13;
        color: rgb(255, 255, 255);
        border-radius: 100px;
      }
      .icons1{
        justify-content: center;
        display:flex;
        position: relative; /* Nécessaire pour positionner le pseudo-élément */
        margin: 10px;
        margin-bottom: 40px;
      }
      .icons1 h5{
        font-size: 20px;
      }
      .icons1 p{
        font-size: 19px;
      }
      
      .icons2{
        justify-content: center;
        display:flex;
        position: relative; /* Nécessaire pour positionner le pseudo-élément */
        margin-left: 50px;
        margin-right: 30px;
      }
      .icons2 h5{
        font-size: 20px;
      }
      .icons2 p{
        font-size: 19px;
      }   
      .taille{
        margin-left: 30px;
        margin-right: 30px;
      }
      .irrigation{
        margin-left: 30px;
        margin-right: 30px;
      }
      
      @media all and (max-width: 740px){
        .icons::before {
            visibility: hidden;
        }
        .icons1{
          flex-direction: column;
        }
        .icons2{
            flex-direction: column;
        }
      }
      
      
   
